html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c561.774C103.85%2c548.223%2c156.025%2c431.095%2c228.4%2c355.397C283.67%2c297.59%2c330.714%2c238.076%2c373.87%2c170.741C424.342%2c91.991%2c502.822%2c21.289%2c502.482%2c-72.246C502.133%2c-168.226%2c428.85%2c-245.017%2c372.078%2c-322.407C310.65%2c-406.144%2c259.251%2c-514.469%2c158.784%2c-540.768C58.495%2c-567.02%2c-40.541%2c-500.585%2c-133.529%2c-454.757C-213.29%2c-415.447%2c-282.299%2c-362.272%2c-340.248%2c-294.826C-397.994%2c-227.616%2c-438.711%2c-151.192%2c-466.609%2c-67.088C-499.482%2c32.014%2c-555.262%2c138.913%2c-516.249%2c235.763C-477.14%2c332.851%2c-358.714%2c364.573%2c-270.214%2c420.461C-182.495%2c475.856%2c-102.874%2c575.198%2c0%2c561.774' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1252.476C1566.171 1234.9450000000002 1654.124 1127.184 1752.503 1046.2649999999999 1839.455 974.746 1924.612 904.472 1981.333 807.218 2042.676 702.039 2120.6 584.472 2090.668 466.448 2060.81 348.716 1926.929 296.251 1832.403 219.981 1754.789 157.35700000000003 1676.506 103.57 1586.836 59.92399999999998 1479.829 7.840000000000032 1371.644-95.14800000000002 1258.08-59.56200000000001 1144.2060000000001-23.87900000000002 1134.9279999999999 137.77800000000002 1055.152 226.527 973.1759999999999 317.724 813.26 346.43600000000004 785.723 465.929 758.406 584.466 877.361 683.301 923.999 795.65 972.7919999999999 913.19 970.9259999999999 1057.263 1066.214 1141.623 1165.531 1229.55 1308.616 1270.732 1440 1252.476' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

body {
    color: white;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #F9FAFB;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.link_container {
    padding: 10px;
    width: 900px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 40px;
    padding: 35px;

    margin-left: auto;
    margin-right: auto;
    color:black;
}

.link_container:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}